@media only screen and (min-width: 1024px) {

.large-3 {width: 25%;}

nav ul {margin-left: 2vw;}
nav li {width:auto;}
nav a {padding: .7rem 1rem;}

.tablemobile {
    overflow-x: auto;
    display: block;
    font-size: 1.5rem;
    padding-left: 100px;
}

} /* end of media query */